@page
@model Gramophone.Pages.CreateAlbomModel
@{
    <div class="player-nav">
        <div class="player-menu">
            <form action="" class="search">
                <div class="searching">
                    <input type="search"
                           placeholder="Sting"
                           class="search-field" />
                    <button><img src="images/search.png" alt="" class="search-icon" /></button>
                </div>
            </form>

            <div class="btn-menu">
                <a href="#">Моя музыка</a>
            </div>
            <div class="btn-menu">
                <a href="#">Рекомендации</a>
            </div>
            <div class="btn-menu">
                <a href="#">Новинки</a>
            </div>
            <div class="btn-menu">
                <a href="index.html">Главная</a>
            </div>
        </div>
    </div>

    <section class="my-playlists">
        <div class="container">
            <form method="post" enctype="multipart/form-data" class="create-playlist">
                <div class="frame-playlists">
                    <div class="playlists-title">Создание нового альбома</div>
                    <hr />
                    <div class="desc-creation-playlist">
                        <label class="label-cover">
                            <i class="cover-icons">
                                <img class="add-playlist"
                                     src="images/my-playlists/image 47.png"
                                     alt="" />
                            </i>
                            <span class="title-cover">Добавить обложку</span>
                            <input asp-for="Cover" type="file" />
                        </label>
                        <div class="text-input">
                            <label for="name-playlist">
                                <input asp-for="Name" type="text" placeholder="Название альбома" />
                            </label>
                        </div>
                    </div>
                    <hr>

                    <label class="label-cover albom">
                        <i class="cover-icons">
                            <img class="add-albom"
                                 src="images/image 50.png"
                                 alt="" />
                        </i>
                        <span class="title-albom">Перенесите аудиофайлы</span>
                        <input asp-for="Files" type="file" multiple/>
                    </label>


                    <button type="submit" class="createbtn">
                        <div class="createbtn-text">Создать</div>
                    </button>
                </div>
            </form>
        </div>
    </section>
}
