@page
@model Gramophone.Pages.LoginModel

<section class="login">
    <div class="container">
        <div class="reg-title"><img src="~/images/enter 1.png" alt="">Вход в аккаунт</div>
        <form action="">
            <div class="form-item">
                <label for="login"><b>Логин</b></label>
                <input type="text" name="name" />
            </div>
            <div class="form-item">
                <label for="psw"><b>Пароль</b></label>
                <input type="password" name="psw" />
            </div>
            <button type="submit" class="registerbtn">
                <div class="title-reg">Войти</div>
            </button>
        </form>
        <a href="registration.html" class="reg-link">Зарегистрироваться</a>
        <
    </div>>
</section>