@page
@model Gramophone.Pages.LoginModel

<section class="login">
    <div class="container">
        <div class="reg-title"><img src="~/images/enter 1.png" alt="">Вход в аккаунт</div>
        <form method="post">
            <div class="form-item">
                <label asp-for="Name"></label>
                <div class="input-and-er">
                    <input asp-for="Name" />
                    <div class="error">
                        <span asp-validation-for="Name"></span>
                    </div>
                </div>
            </div>
            <div class="form-item">
                <label asp-for="Password"></label>
                <div class="input-and-er">
                    <input asp-for="Password" />
                    <div class="error">
                        <span asp-validation-for="Password"></span>
                    </div>
                </div>
            </div>
            <button type="submit" class="registerbtn">
                <div class="title-reg">Войти</div>
            </button>
        </form>
        <a href="Registration/Index" class="reg-link">Зарегистрироваться</a>
    </div>
</section>