@page
@model Gramophone.Pages.MainPlayerModel

<div class="player-nav">
    <div class="player-menu">
        <form action="" class="search">
            <div class="searching">
                <input type="search"
                       placeholder="Sting"
                       class="search-field" />
                <button><img src="images/search.png" alt="" class="search-icon" /></button>
            </div>
        </form>

        <div class="btn-menu">
            <a href="#">Моя музыка</a>
        </div>
        <div class="btn-menu">
            <a href="#">Рекомендации</a>
        </div>
        <div class="btn-menu">
            <a href="#">Новинки</a>
        </div>
        <div class="btn-menu">
            <a href="/Player">Главная</a>
        </div>
    </div>
</div>


<div class="main-player">
    <div class="wrapper">
        <div class="details">
            <div class="now-playing">Играет сейчас</div>
            <div class="track-art"></div>
            <div class="track-name">Название трека</div>
            <div class="track-artist">Имя артиста</div>
        </div>


        <div class="slider_container">
            <div class="current-time">00:00</div>
            <input type="range" min="1" max="100" value="0" class="seek_slider" onchange="seekTo()">
            <div class="total-duration">00:00</div>
        </div>

        <div class="slider_container">
            <i class="fa fa-volume-down"></i>
            <input type="range" min="1" max="100" value="20" class="volume_slider" onchange="setVolume()">
            <i class="fa fa-volume-up"></i>
        </div>

        <div class="buttons">
            <div class="random-track" onclick="randomTrack()">
                <i class="fas fa-random fa-2x" title="random"></i>
            </div>
            <div class="prev-track" onclick="prevTrack()">
                <i class="fa fa-step-backward fa-2x"></i>
            </div>
            <div class="playpause-track" onclick="playpauseTrack()">
                <i class="fa fa-play-circle fa-5x"></i>
            </div>
            <div class="next-track" onclick="nextTrack()">
                <i class="fa fa-step-forward fa-2x"></i>
            </div>
            <div class="repeat-track" onclick="repeatTrack()">
                <i class="fa fa-repeat fa-2x" title="repeat"></i>
            </div>
        </div>
    </div>
</div>

<script src="js/player.js"></script>