@page
@model Gramophone.Pages.PlaylistCompositionModel
@{
    <div class="player-nav">
        <div class="player-menu">
            <form action="" class="search">
                <div class="searching">
                    <input type="search"
                           placeholder="Sting"
                           class="search-field" />
                    <button><img src="images/search.png" alt="" class="search-icon" /></button>
                </div>
            </form>

            <div class="btn-menu">
                <a href="#">Моя музыка</a>
            </div>
            <div class="btn-menu">
                <a href="#">Рекомендации</a>
            </div>
            <div class="btn-menu">
                <a href="#">Новинки</a>
            </div>
            <div class="btn-menu">
                <a href="index.html">Главная</a>
            </div>
        </div>
    </div>

    <div class="my-playlists playlist-comp">
        <div class="container">
            <div class="frame-playlists">
                <div class="user-desc">
                    <div class="avatar">
                        <img src="images/my-playlists/latte_menu 2.png" alt="" />
                    </div>
                    <div class="text-user-desc">
                        <div class="title-my">ПЛЕЙЛИСТ</div>
                        <div class="nikname">Любимая музыка</div>
                        <button class="to-listen"><img src="images/free-icon-play-buttton-5577228 2.png" alt=""> Слушать</button>
                    </div>
                </div>
                <hr />
                <form action="" class="search">
                    <div class="searching">
                        <input type="search"
                               placeholder="Название песни"
                               class="search-field" />
                        <button><img src="images/search.png" alt="" class="search-icon" /></button>
                    </div>
                </form>

                <div class="list-music">
                    <div class="music-item">
                        <div class="img">
                            <img src="images/popular-music/shape.png" alt="" />
                        </div>
                        <div class="music-desc1">
                            <div class="name">Shape of my heart</div>
                            <div class="musician">Sting</div>
                        </div>
                        <div class="music-desc2">
                            <div class="music-time">4:36</div>
                        </div>
                    </div>

                    <div class="music-item">
                        <div class="img">
                            <img src="images/popular-music/shape.png" alt="" />
                        </div>
                        <div class="music-desc1">
                            <div class="name">Shape of my heart</div>
                            <div class="musician">Sting</div>
                        </div>
                        <div class="music-desc2">
                            <div class="music-time">4:36</div>
                        </div>
                    </div>

                    <div class="music-item">
                        <div class="img">
                            <img src="images/popular-music/shape.png" alt="" />
                        </div>
                        <div class="music-desc1">
                            <div class="name">Shape of my heart</div>
                            <div class="musician">Sting</div>
                        </div>
                        <div class="music-desc2">
                            <div class="music-time">4:36</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
