@page
@model Gramophone.Pages.SearchModel
@{
    <div class="player-nav">
        <div class="player-menu">
            <form action="" class="search">
                <div class="searching">
                    <input type="search"
                placeholder="Sting"
                class="search-field" 
                asp-for="SearchString"/>
                    <button type="submit"><img src="images/search.png" alt="" class="search-icon" /></button>
                </div>
            </form>

            <div class="btn-menu">
                <a href="#">Моя музыка</a>
            </div>
            <div class="btn-menu">
                <a href="#">Рекомендации</a>
            </div>
            <div class="btn-menu">
                <a href="#">Новинки</a>
            </div>
            <div class="btn-menu">
                <a asp-page="/Index">Главная</a>
            </div>
        </div>

    </div>

    <section class="res-search">
        <div class="container">
            <div class="list-music">
                @foreach (var composition in Model.Compositions) {
                    <div class="music-item">
                        <div class="img">
                            <img src="@composition.Cover" alt="" />
                        </div>
                        <div class="music-desc1">
                            <div class="name">@composition.Name</div>
                            <!-- TODO change to actor name -->
                            <div class="musician">@composition.Author</div>
                        </div>
                        <div class="music-desc2">
                            <div class="like"><img src="images/like.png" alt="" /></div>
                            <div class="music-time">@composition.Duration.ToString().Remove(0, 3).Remove(5)</div>
                        </div>
                    </div>
                }
            }
        <!--<div class="music-item">
                <div class="img">
                    <img src="images/popular-music/shape.png" alt="" />
                </div>
                <div class="music-desc1">
                    <div class="name">Shape of my heart</div>
                    <div class="musician">Sting</div>
                </div>
                <div class="music-desc2">
                    <div class="like"><img src="images/like.png" alt="" /></div>
                    <div class="music-time">4:36</div>
                </div>
            </div> 
        -->
            </div>
        </div>
    </section>
}
