@page
@model Gramophone.Pages.SearchModel
@{
    <div class="player-nav">
        <div class="player-menu">
            <form action="" class="search">
                <div class="searching">
                    <input type="search"
                           placeholder="Sting"
                           class="search-field" />
                    <button><img src="images/search.png" alt="" class="search-icon" /></button>
                </div>
            </form>

            <div class="btn-menu">
                <a href="#">Моя музыка</a>
            </div>
            <div class="btn-menu">
                <a href="#">Рекомендации</a>
            </div>
            <div class="btn-menu">
                <a href="#">Новинки</a>
            </div>
            <div class="btn-menu">
                <a href="index.html">Главная</a>
            </div>
        </div>

    </div>



    <section class="res-search">
        <div class="container">
            <div class="list-music">
                <div class="music-item">
                    <div class="img">
                        <img src="images/popular-music/shape.png" alt="" />
                    </div>
                    <div class="music-desc1">
                        <div class="name">Shape of my heart</div>
                        <div class="musician">Sting</div>
                    </div>
                    <div class="music-desc2">
                        <div class="like"><img src="images/like.png" alt="" /></div>
                        <div class="music-time">4:36</div>
                    </div>
                </div>

                <div class="music-item">
                    <div class="img">
                        <img src="images/popular-music/shape.png" alt="" />
                    </div>
                    <div class="music-desc1">
                        <div class="name">Shape of my heart</div>
                        <div class="musician">Sting</div>
                    </div>
                    <div class="music-desc2">
                        <div class="like"><img src="images/like.png" alt="" /></div>
                        <div class="music-time">4:36</div>
                    </div>
                </div>

                <div class="music-item">
                    <div class="img">
                        <img src="images/popular-music/shape.png" alt="" />
                    </div>
                    <div class="music-desc1">
                        <div class="name">Shape of my heart</div>
                        <div class="musician">Sting</div>
                    </div>
                    <div class="music-desc2">
                        <div class="like"><img src="images/like.png" alt="" /></div>
                        <div class="music-time">4:36</div>
                    </div>
                </div>
                <div class="music-item">
                    <div class="img">
                        <img src="images/popular-music/shape.png" alt="" />
                    </div>
                    <div class="music-desc1">
                        <div class="name">Shape of my heart</div>
                        <div class="musician">Sting</div>
                    </div>
                    <div class="music-desc2">
                        <div class="like"><img src="images/like.png" alt="" /></div>
                        <div class="music-time">4:36</div>
                    </div>
                </div>

            </div>
        </div>
    </section>



}
