@page
@model Gramophone.Pages.Registration.ListenerModel

<section>
    <div class="container">
        <div class="reg-actor reg-listener">
            <div class="reg-title">Регистрация слушателя</div>
            <div class="reg-actor-wrap">
                <div class="img-reg-actor">
                    <img src="~/images/listener-reg.png" alt="" />
                </div>
                <form method="post">
                    <div class="form-item">
                        <label for="login"><b>Логин</b></label>
                        <div class="input-and-er">
                            <input asp-for="Listener.UserName" />
                            <div class="error">
                                <span asp-validation-for="Listener.UserName"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-item">
                        <label for="email"><b>Email</b></label>
                        <div class="input-and-er">
                            <input asp-for="Listener.Email" />
                            <div class="error">
                                <span asp-validation-for="Listener.Email"></span>
                            </div>
                        </div>
                    </div>
                    @*<div class="form-item">
                        <label for="psw"><b>Пароль</b></label>
                        <div class="input-and-er">
                            <input type="password" asp-for="Listener.Password" />
                            <div class="error">
                                <span asp-validation-for="Listener.Password"></span>
                            </div>
                        </div>
                    </div>*@
                    <div class="form-item">
                        <label for="psw-repeat"><b>Подтверждение пароля</b></label>
                        <div class="input-and-er">
                            <input type="password" asp-for="CheckPassword" />
                            <div class="error">
                                <span asp-validation-for="CheckPassword"></span>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="registerbtn">
                        <div class="title-reg">Зарегистрироваться</div>
                    </button>
                </form>
            </div>
        </div>
    </div>
</section>