@page
@model Gramophone.Pages.Registration.ListenerModel

<section>
    <div class="container">
        <div class="reg-actor reg-listener">
            <div class="reg-title">Регистрация слушателя</div>
            <div class="reg-actor-wrap">
                <div class="img-reg-actor">
                    <img src="~/images/listener-reg.png" alt="" />
                </div>
                <form method="post">
                    <div class="form-item">
                        <label asp-for="Name"></label>
                        <div class="input-and-er">
                            <input asp-for="Name" />
                            <div class="error">
                                <span asp-validation-for="Name"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-item">
                        <label asp-for="Email"></label>
                        <div class="input-and-er">
                            <input asp-for="Email" />
                            <div class="error">
                                <span asp-validation-for="Email"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-item">
                        <label asp-for="Password"></label>
                        <div class="input-and-er">
                            <input type="password" asp-for="Password" />
                            <div class="error">
                                <span asp-validation-for="Password"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-item">
                        <label asp-for="CheckPassword"></label>
                        <div class="input-and-er">
                            <input type="password" asp-for="CheckPassword" />
                            <div class="error">
                                <span asp-validation-for="CheckPassword"></span>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="registerbtn">
                        <div class="title-reg">Зарегистрироваться</div>
                    </button>
                </form>
            </div>
        </div>
    </div>
</section>